<% percent = candidate_profile_completion(candidate) %>
<div class="mb-4">
  <div class="flex justify-between mb-1">
    <span class="text-sm font-medium text-primary">Profile Completion</span>
    <span class="text-sm font-medium text-secondary"><%= percent %>%</span>
  </div>
  <div class="w-full bg-gray-200 rounded-full h-2.5">
    <div class="bg-blue-600 h-2.5 rounded-full" style="width: <%= percent %>%"></div>
  </div>
</div> 