<div class="hidden md:flex md:w-1/2 bg-gray-900 text-white flex-col justify-between p-12">
  <div>
    <%= link_to root_path, class: "flex items-center text-2xl font-semibold" do %>
      <span class="text-3xl">Wheel</span>
    <% end %>
  </div>

  <div class="max-w-md">
    <blockquote class="text-xl font-light mb-4">
      "This library has saved me countless hours of work and helped me deliver stunning designs to my clients faster than ever before."
    </blockquote>
    <div class="mt-4">
      <p class="font-medium">Sofia Davis</p>
    </div>
  </div>
</div>