<div id="<%= dom_id theme %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= theme.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Settings:</strong>
    <%= theme.settings %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Site:</strong>
    <%= theme.site_id %>
  </p>

</div>
