<div data-controller="notifications">
<%= render DialogComponent.new(variant: :drawer) do |dialog| %>
  <% dialog.with_header(title: t(".notifications")) %>
  <% dialog.with_body do %>

    <div class="flex-1 overflow-y-auto">
      <div data-notifications-target="notificationsList">
        <div class="divide-y divide-gray-100">
        <% if @notifications.any? %>

            <% @notifications.each do |notification| %>
              <div class="p-4 hover:bg-gray-50 <%= 'bg-blue-50' unless notification.read? %>">
                <div class="flex items-start">
                  <div class="flex-1">
                    <%= render partial: "notifications/notification", locals: { notification: notification } %>
                  </div>
                  <% unless notification.read? %>
                    <button
                      class="ml-2 text-xs text-blue-600 hover:text-blue-800"
                      data-action="click->notifications#markAsRead"
                      data-notification-id="<%= notification.id %>">
                      Mark as read
                    </button>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>


        <% else %>
          <div class="p-4 text-center text-gray-500">
            No notifications yet
          </div>
        <% end %>
        </div>
      </div>
  <% end %>
<% end %>
</div>