<!-- app/views/settings/_settings_tab.html.erb -->
<div class="mb-4">
  <%= render(TabComponent.new(active_index: current_page?(edit_settings_profile_path) ? 0 : 1)) do |component| %>
    <% component.with_tab_item do %>
      <%= link_to "Profile", edit_settings_profile_path, class: "block px-4 py-2 text-sm font-medium w-full h-full" %>
    <% end %>
    
    <% component.with_tab_item do %>
      <%= link_to "Account", settings_edit_account_path, class: "block px-4 py-2 text-sm font-medium w-full h-full" %>
    <% end %>
    
    <% if content_for?(:settings_content) %>
      <% component.with_tab_content do %>
        <%= yield :settings_content %>
      <% end %>
    <% end %>
  <% end %>
</div>
