<% if user_signed_in? %>
  <div class="flex items-center space-x-4">
    <span class="text-gray-700">Welcome, <%= current_user.email %></span>
    <%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "px-4 py-2 bg-red" %>
  </div>
<% else %>
  <%= link_to "Sign In", new_user_session_path, class: "px-4 py-2 bg-blue-600 text-black text-sm font-medium rounded-md" %>
<% end %>
