<div class="max-w-5xl mx-auto mt-0 pb-8 mb-16 bg-white shadow lg:rounded-lg overflow-hidden">
  <%= render 'candidates/candidate_tab' %>
  <turbo-frame id="candidate-tab-content">
    <%= yield %>
  </turbo-frame>
</div>