<div id="<%= dom_id role_permission %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= role_permission.role_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Permission:</strong>
    <%= role_permission.permission_id %>
  </p>

</div>
