<%= styled_form_with model: @role, class: "space-y-4" do |f| %>
  <% if role.errors.any? %>
    <%= render "shared/form_errors" , model: role %>
  <% end %>
  <section class="space-y-2 overflow-hidden">
    <%= f.text_field :name, label: 'Name' , placeholder: 'Enter Name' %>
  </section>
  <section>
    <%= f.submit 'Submit' %>
  </section>
<% end %>
