<div id="<%= dom_id chapter %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= chapter.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= chapter.content %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Topic:</strong>
    <%= chapter.topic_id %>
  </p>

</div>
