<div id="<%= dom_id site %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= site.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Subdomain:</strong>
    <%= site.subdomain %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Account:</strong>
    <%= site.account_id %>
  </p>

</div>
